.mbtiHome {
    background-color: white;
    color:black    
}
.mbtiHome h1{
    font-family:"仿宋", serif;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
}
.mbtiHome img{
    width: 100%
}
.mbtiHome button{
    
    background-color: aqua;
    color:white;
    font-size: 25px;
    font-family: '仿宋', serif;
    font-weight: bold;    
    text-align: center;
    padding: 20px 30px;        
}
.mbtiHome button:hover{
    background-color: aquamarine;
    color: #5555
}
.mbtiHome button:active{
    background-color: grey;
    color: white
}
.mbtiHome a{
    text-decoration: none;
}
.QUESTION a{
    text-decoration: none;
    font-family: "仿宋", serif;
    font-weight: bold;
    font-size: 20px;
}
.QUESTION a:hover{
    color: #5555;
}
.question1{
    border: 5px dotted #cccccc;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:5px;
    margin-bottom: 10px;
}
.question1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}
.question2{
    border: 5px dotted #cccccc;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:5px;
    margin-bottom: 10px;
}
.question2 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}
.question3{
    border: 5px dotted #cccccc;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:5px;
    margin-bottom: 10px;
}
.question3 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}
.question4{
    border: 5px dotted #cccccc;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:5px;
    margin-bottom: 10px;
}
.question4 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}
.mbtiResult {
    background-color: white;
    color:black    
}
.mbtiResult h1{
    font-family:"仿宋", serif;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
}
.mbtiResult img{
    width: 100%
}
.QUESTION button{
    
    background-color: aqua;
    color:white;
    font-size: 25px;
    font-family: '仿宋', serif;
    font-weight: bold;    
    text-align: center;
    padding: 15px 20px;
    margin: 10px;        
}
button:hover{
    background-color: aquamarine;
    color: #5555
}
button:active{
    background-color: grey;
    color: white
}

